div{
  overflow-x: auto;
}

table{
  border-collapse: collapse; 
}

tbody {
  font-size: 10pt; 
  font-family: Arial;
}

thead tr th {
  border-left-style: hidden;
  border-right-style: hidden;
  padding: 0.5em;
  margin: 0.5em;
}

tbody td, th {
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-left-style: hidden;
  border-right-style: hidden;
}

tbody tr:nth-child(even) {
  background: #E0E0E0;
}

tbody tr:hover {
  background: lightblue;
  cursor: pointer;
}
