name: develop

on:
  push:
    branches:
      - develop

jobs:
  build-test:

    runs-on:
    - benchmark

    steps:

    - uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Login to Google Cloud
      uses: google-github-actions/setup-gcloud@v0
      with:
        service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        project_id:          ${{ secrets.GCP_SERVICE_ACCOUNT_PROJECT_ID }}
        export_default_credentials: true

    - name: Build and Run Tests
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
      run: RUN_TESTS=true ./ci.sh
      shell: bash

  build_and_deploy_docs:
    needs:
    - build-test

    runs-on:
    - benchmark

    steps:

    - uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build Notebook,docs Docker
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        RUNNER_NAME: ${{ runner.name }}
        ADB_REPO: aperturedata/aperturedb
        ADB_TAG: dev
        LENZ_REPO: aperturedata/lenz
        LENZ_TAG: dev
      run: BUILD_COMPLETE=true ./ci.sh
      shell: bash

